.grid-to-column-started {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  background-color: inherit;
}
.grid-to-row-centered {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  background-color: inherit;
}
.grid-horizontal {
  display: grid;
  grid-auto-flow: column;
}
.grid-horizontal-break-w {
  display: grid;
  justify-content: center;
  align-items: center;
  word-wrap:break-word;
}
.grid-horizontal-started {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  background-color: inherit;
}
.grid-horizontal-start {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
}
.grid-horizontal-start-start {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  justify-content: start;
}
.grid-horizontal-space-between {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.grid-horizontal-centered {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  background-color: inherit;
}
.grid-horizontal-center {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}
.grid-horizontal-content-center {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}
.grid-horizontal-start-center {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
}
.grid-horizontal-centered-centered {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}
.grid-horizontal-started-centered {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  align-items: center;
}
.grid-horizontal-started-centered-started {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  justify-content: start;
  align-items: center;
  align-content: start;
}
.grid-horizontal-centered-end {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: end;
}
.grid-horizontal-start-start-break-w {
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  justify-content: start;
  word-wrap: break-word;
}
.grid-horizontal-sides-center {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.grid-horizontal-sides-end {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: end;
}
.grid-horizontal-end-center {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
}
/*.grid-content-center {
  display: grid;
  justify-content: center;
}*/
.grid-vertical {
  display: grid;
  grid-auto-flow: row;
}
.grid-vertical-started {
  display: grid;
  grid-auto-flow: row;
  justify-items: start;
  background-color: inherit;
}
.grid-vertical-start {
  display: grid;
  grid-auto-flow: row;
  justify-items: start;
}
.grid-vertical-align-top {
  display: grid;
  grid-auto-flow: row;
  align-items: start;
  align-content: start;
}
.grid-vertical-align-start {
  display: grid;
  grid-auto-flow: row;
  align-content: start;
}
.grid-vertical-centered {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}
.grid-vertical-center {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  /*background-color: inherit;*/
}
.grid-vertical-left {
  display: grid;
  grid-auto-flow: row;
  justify-items: left;
}
.grid-vertical-right {
  display: grid;
  grid-auto-flow: row;
  justify-items: right;
  background-color: inherit;
}
.grid-vertical-start-center {
  display: grid;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
  background-color: inherit;
}
.grid-vertical-start-centered {
  display: grid;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
}
.grid-vertical-stretched {
  display: grid;
  grid-auto-flow: row;
  justify-items: stretch;
}

/*.grid-vertical-start-start{
  display: grid;
  grid-auto-flow: row;
  justify-items: start;
  align-items: start;
  background-color: inherit;
}*/
.just-grid {
  display: grid;
}
.grid-dense {
  display: grid;
  grid-auto-flow: dense;
}

.grid-gap-0 {
  grid-gap: 0rem;
}
.grid-gap-02 {
  grid-gap: 0.2rem;
}
.grid-gap-05 {
  grid-gap: 0.5rem;
}
.grid-gap-08 {
  grid-gap: 0.8rem;
}
.grid-gap-1 {
  grid-gap: 1rem;
}
.grid-gap-2 {
  grid-gap: 2rem;
}
.inside-grid-align-center {
  align-self: center;
}
.inside-grid-centered {
  align-content: center;
  align-self: center;
}
.inside-grid-centered-stretched {
  align-self: center;
  justify-self: center;
}

.split-vertical-grid-5-40{
  grid-auto-rows: 5rem 40rem;
  grid-gap: 0;
}
/*.split-vertical-grid-13-40{
  grid-auto-rows: 13rem 40rem;
  grid-gap: 0;
}*/
.split-vertical-grid-10p-90p{
  grid-auto-rows: 10% 90%;
  grid-gap: 0;
}
.split-vertical-grid-15p-85p{
  grid-auto-rows: 15% 85%;
  grid-gap: 0;
}
.split-vertical-grid-20p-80p{
  grid-auto-rows: 20% 80%;
  grid-gap: 0;
}
.split-vertical-grid-92p-8p{
  grid-auto-rows: 92% 8%;
  grid-gap: 0;
}
.split-vertical-grid-93p-7p{
  grid-auto-rows: 93% 7%;
  grid-gap: 0;
}
.split-vertical-grid-50p-50p{
  grid-auto-rows: 50% 50%;
  grid-gap: 0;
}
.split-horizontal-grid-25p-25p-25p-25p{
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0;
}
.split-horizontal-grid-50p-50p{
  grid-auto-columns: 50% 50%;
  grid-gap: 0;
}
.split-horizontal-grid-33p-33p-34p{
  grid-auto-columns: 33% 33%% 34%;
  grid-gap: 0;
}
.split-horizontal-grid-30p-70p{
  grid-template-columns: minmax(19rem, 0.3fr) minmax(36rem, 0.7fr);
}
.split-auto-flow-50p-50p-repeat {
  grid: auto-flow 100% / repeat(2, 50%);
}
